.load-button{
    position: relative;
    display: block;
    width: 210px;
    color: #fff;
    cursor: pointer;
    background-color: #e19829;
    border: none;
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    transition: background-color .3s;
    display: block;

    box-shadow: 0 2px 5px rgba(0,0,0,.2), 5px 5px 10px rgba(0,0,0,.4);
}
.load-button:hover {
    background-color: #0a6f6f;
  }
  
  .load-button:active {
    background-color: #bda98b;
  }
