.searchbar{
    height: 80px;
    width: 100%;
    background-color: #0a6f6f;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

}

.search-form{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

}

.search-button{
    margin-right: 10px;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    background-color: #e19829;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 2px 5px rgba(0,0,0,.2), 5px 5px 10px rgba(0,0,0,.4);
 
}
.input{
    height: 24px;
    width: 250px;
    border-radius: 10px;
}