/* @import-normalize; bring in normalize.css styles */
@import './components/Button/button.css';
@import './components/ImageGallery/imagegallery.css';
@import './components/ImageGalleryItem/imagegalleryitem.css';
@import './components/Loader/loader.css';
@import './components/Modal/modal.css';
@import './components/Searchbar/searchbar.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style: none;
}